<div id="yt-masthead-container" class="yt-grid-box yt-base-gutter" >
    <div id="yt-masthead" class="">
        <a id="logo-container" href="/" title="YouTube home" class="spf-link "><img id="logo" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="YouTube home"></a>
        {% if global.signedIn %}
        {% set account = global.userInfo.activeChannel %}
        <div id="yt-masthead-user">
           <span id="yt-masthead-user-displayname" dir="ltr" class="yt-valign-container" onclick="yt.www.masthead.toggleExpandedMasthead();">
             {{ account.name }}
           </span>
           {#
             <button onclick=";return false;" class="sb-notif-off yt-uix-button yt-uix-button-default yt-uix-button-size-default" type="button" id="sb-button-notify" role="button"><span class="yt-uix-button-content">  </span></button>
           #}
           <button onclick="yt.www.masthead.toggleExpandedMasthead();;return false;" class="yt-masthead-user-icon yt-uix-button yt-uix-button-default yt-uix-button-size-default" type="button" data-orientation="vertical" role="button"><span class="yt-uix-button-content">      <span class="video-thumb  yt-thumb yt-thumb-27">
               <span class="yt-thumb-square">
                 <span class="yt-thumb-clip">
                   <span class="yt-thumb-clip-inner">
                     <img alt="Thumbnail" src="{{ account.photo }}" width="27">
                     <span class="vertical-align"></span>
                   </span>
                 </span>
               </span>
             </span>

          </span></button>
             <span id="yt-masthead-dropdown" onclick="yt.www.masthead.toggleExpandedMasthead();"></span>
         </div>
        {% else %}
        <div id="yt-masthead-signin">
            <button class=" yt-uix-button yt-uix-button-primary yt-uix-button-size-default" type="button" href="https://accounts.google.com/ServiceLogin?hl=en_US&amp;uilel=3&amp;service=youtube&amp;passive=true&amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26feature%3Dsign_in_button%26hl%3Den_US%26next%3D%252F" onclick=";window.location.href=this.getAttribute(&#39;href&#39;);return false;"  role="button"><span class="yt-uix-button-content">Sign in </span></button>
        </div>
        {% endif %}
        <div id="yt-masthead-content">
            {% if global.signedIn %}
            <span class="yt-uix-button-group" id="masthead-upload-button-group">{% apply spaceless %}
               <a href="//www.youtube.com/upload" class="yt-uix-button  start yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-default" data-sessionlink="" data-upsell="upload"><span class="yt-uix-button-content">Upload</span></a>
               <button onclick=";return false;" class="end flip yt-uix-button yt-uix-button-default yt-uix-button-size-default yt-uix-button-empty" type="button" aria-haspopup="true" data-button-menu-id="upload-button-menu" role="button" aria-label="Creator tools menu"><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
            {% endapply %}</span>
            <ul id="upload-button-menu" class="yt-uix-button-menu yt-uix-button-menu-default" role="menu" aria-haspopup="true" style="display: none"><li id="upload-menu-dashboard" role="menuitem"><a href="/dashboard" class="yt-uix-button-menu-item upload-menu-link yt-uix-sessionlink" data-sessionlink="feature=mhsb&amp;ei=40pHUq2MNuH2iAbs84CYDw"><img class="upload-menu-dashboard" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif">Dashboard</a></li><li id="upload-menu-video-manager" role="menuitem"><a href="/my_videos" class="yt-uix-button-menu-item upload-menu-link yt-uix-sessionlink" data-sessionlink="feature=mhsb&amp;ei=40pHUq2MNuH2iAbs84CYDw"><img class="upload-menu-vm" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif">Video Manager</a></li><li id="upload-menu-analytics" role="menuitem"><a href="https://www.youtube.com/analytics" class="yt-uix-button-menu-item upload-menu-link yt-uix-sessionlink" data-sessionlink="feature=mhsb&amp;ei=40pHUq2MNuH2iAbs84CYDw"><img class="upload-menu-analytics" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif">Analytics</a></li></ul>
            {% else %}
            <span id="masthead-upload-button-group">
               <a href="//www.youtube.com/upload" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-default" data-sessionlink=""><span class="yt-uix-button-content">Upload</span></a>
            </span>
            {% endif %}
            <form id="masthead-search" class="search-form consolidated-form" action="/results" onsubmit="if (_gel(&#39;masthead-search-term&#39;).value == &#39;&#39;) return false;">
                <button class="search-btn-component search-button yt-uix-button yt-uix-button-default yt-uix-button-size-default" id="search-btn" tabindex="2" dir="ltr" onclick="if (_gel(&#39;masthead-search-term&#39;).value == &#39;&#39;) return false; _gel(&#39;masthead-search&#39;).submit(); return false;;return true;" type="submit"  role="button"><span class="yt-uix-button-content">Search </span></button>
                <div id="masthead-search-terms" class="masthead-search-terms-border" dir="ltr">
                    <label><input id="masthead-search-term" autocomplete="off" autofocus class="search-term yt-uix-form-input-bidi" name="search_query" value="" type="text" tabindex="1" title="Search"></label><script>var searchBox = document.getElementById('masthead-search-term');if (searchBox) {searchBox.focus();}</script>
                </div>
            </form>
        </div>
    </div>
</div>
{% if global.signedIn %}
<div id="masthead-expanded" class="hid">
    <div id="masthead-expanded-container" class="with-sandbar">
      <div id="masthead-expanded-menus-container">
        <span id="masthead-expanded-menu-shade"></span>
          <div id="masthead-expanded-menu">
    <span class="masthead-expanded-menu-header">
YouTube
    </span>
    <ul id="masthead-expanded-menu-list">
      <li class="masthead-expanded-menu-item">
        <a href="/profile" class="yt-uix-sessionlink" data-sessionlink="feature=mhee&amp;ei=40pHUq2MNuH2iAbs84CYDw">
My channel
        </a>
      </li>
      <li class="masthead-expanded-menu-item">
        <a href="/my_videos" class="yt-uix-sessionlink" data-sessionlink="feature=mhee&amp;ei=40pHUq2MNuH2iAbs84CYDw">
Video Manager
        </a>
      </li>
      <li class="masthead-expanded-menu-item">
        <a href="/feed/subscriptions" class="yt-uix-sessionlink" data-sessionlink="feature=mhee&amp;ei=40pHUq2MNuH2iAbs84CYDw">Subscriptions</a>
      </li>
      <li class="masthead-expanded-menu-item">
        <a href="/account" class="yt-uix-sessionlink" data-sessionlink="feature=mhee&amp;ei=40pHUq2MNuH2iAbs84CYDw">
YouTube settings
        </a>
      </li>
    </ul>
  </div>

          <div id="masthead-expanded-google-menu">
    <span class="masthead-expanded-menu-header">
Google account
    </span>
    <div id="masthead-expanded-menu-google-container">
      <div id="masthead-expanded-menu-google-column1">
        <ul>
          <li class="masthead-expanded-menu-item"><a href="//myaccount.google.com/">Profile</a></li>
            <li class="masthead-expanded-menu-item"><a href="//myaccount.google.com/data-and-privacy">Privacy</a></li>
          <li class="masthead-expanded-menu-item">
            <a href="//myaccount.google.com">
Settings
            </a>
          </li>
        </ul>
      </div>
      <div id="masthead-expanded-menu-google-column2">
        <div id="masthead-expanded-menu-account-container">
              <img id="masthead-expanded-menu-gaia-photo" alt="" data-src="{{ global.userInfo.activeChannel.photo }}">
  <div id="masthead-expanded-menu-account-info" class="email-only">
      <p>{{ global.userInfo.googleAccount.name }}</p>
    <p id="masthead-expanded-menu-email">{{ global.userInfo.googleAccount.email }}</p>
  </div>

        </div>
        <ul>
          <li class="masthead-expanded-menu-item">
            <a class="end" href="#" onclick="document.logoutForm.submit(); return false;">
Sign out
            </a>
          </li>
            <li class="masthead-expanded-menu-item">
                <div class="yt-uix-clickcard masthead-expanded-menu-switch" data-card-class="masthead-card-switch-account">
    <button onclick=";return false;" class="yt-uix-clickcard-target yt-uix-button yt-uix-button-link yt-uix-button-size-default" type="button" data-orientation="vertical" data-position="rightbottom" role="button"><span class="yt-uix-button-content">Switch account </span></button>
    <div class="yt-uix-clickcard-content">
        <ul id="yt-masthead-multilogin">
        {% for account in global.userInfo.channelPicker %}
              <li>
    <a class="yt-masthead-multilogin-user yt-valign" href="/signin?next=%2F&amp;authuser=0&amp;action_handle_signin=true">
          <span class="video-thumb yt-masthead-multilogin-user-icon yt-thumb yt-thumb-46">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img alt="{{ account.name }}" src="{{ account.photo }}" width="46">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>

      <span class="yt-masthead-multilogin-user-content yt-valign-container">
        <span class="yt-masthead-multilogin-user-link" dir="ltr">{{ account.name }}</span><br>
        {{ account.byline }}
      </span>
      {% if account.selected %}
          <div class="yt-alert yt-alert-naked yt-alert-success">
            <div class="yt-alert-icon">
           <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="icon master-sprite" alt="Alert icon">
         </div>
      </div>
      {% endif %}

    </a>
  </li>
      {% endfor %}
        </ul>
        <div id="yt-masthead-multilogin-actions" class="yt-grid-box">
          <button onclick="document.logoutForm.submit();return false;" id="yt-masthead-multilogin-sign-out" type="button" class=" yt-uix-button yt-uix-button-link yt-uix-button-size-default" role="button"><span class="yt-uix-button-content">Sign out </span></button>

            <a href="https://accounts.google.com/AddSession?service=youtube&amp;uilel=0&amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26authuser%3D-1%26hl%3Den%26next%3D%252F&amp;passive=false&amp;hl=en">Add account</a>
        </div>
    </div>
  </div>

            </li>
        </ul>
      </div>
    </div>
  </div>

      </div>
      <div id="masthead-expanded-sandbar" class="spf-link">
        <div id="masthead-expanded-lists-container">
          <div id="masthead-expanded-loading-message">Loading...</div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
{% endif %}